{% extends 'core/base.html' %}

{% load static %}
{%block css%}
<link rel="stylesheet" href="{% static 'core/css/style.css'%}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
{%endblock%}

{%block javascript%}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

{%endblock%}

{% block contenido%}

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            {% load crispy_forms_tags %}
            <h2>Registro de usuario</h2>
            <form action="" method="POST">
                {% csrf_token %}
                <table>
                    {{ form | crispy}}
                </table>
                

                    <div class="col-4 col-md-4">
                        <input type="reset" value="Limpiar" class="btn btn-info">
                    </div>    
                    <div class="col-4 col-md-3">
                        <input type="submit" value="Registrar" class="btn btn-primary">
                    </div>    
                </div>
            </form>
            
            
        </div>
        <div class="col-2"></div>


    </div>
</div>

{%endblock%}