<!doctype html  >
<html lang="en">
  <head>
    
    
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
<<<<<<< HEAD

    
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Text:400,500,700&display=swap" rel="stylesheet">
 
    <title>Fahion Style | Inicio</title>
    
    {%block css%}
    {%endblock%}
    
  </head>
  <body>
=======
    {% block css %}
      <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Red+Hat+Text:400,500,700&display=swap" rel="stylesheet">
    {% endblock %}
    

    

</head>
<body>

    <!-- Ir Arriba -->
>>>>>>> 1f006767c13ac62c253e1527bd78e9a64b84cdea
    <div class="go-top">
      <span class="fas fa-angle-up"></span>
    </div>
  
      <!-- Menu de Navegacion -->
      <header id="header">
      <nav class="menu">
       <div class="logo-box">
         <h1><a href="#">Fashion Style</a></h1>
         <span class="btn-menu"><i class="fas fa-bars"></i></span>
       </div>
       
       <div class="list-container">
          <ul class="lists">
<<<<<<< HEAD
              <li><a href="{% url 'home' %}" class="active">Inicio</a></li>
              
=======
              <li><a href="#" class="active">Inicio</a></li>
              <li><a href="#">Nosotros</a></li>
>>>>>>> 1f006767c13ac62c253e1527bd78e9a64b84cdea
              <li><a href="{% url 'contacto' %}">Contacto</a></li>
              <li><a href="{% url 'galeria' %}">Galeria</a></li>
              <li><a href="{% url 'login' %}">Inicia Sesión</a></li>
              <li><a href="{% url 'registrar' %}">Registrarse</a></li>
              
<<<<<<< HEAD
              {%if user.is_authenticated%}
                    <li>
                      <a href="{% url 'listado_usuarios' %}">Usuarios</a>
                    </li>
                    <li>
                          <a href="{% url 'nuevo_usuarios' %}">Nuevo Usuario</a>
                    </li>
                    <li>
                          <a href="#">Usuario: {{ user.username}}</a>
                    </li>
                    <li>
                      <a href="{% url 'logout' %}">Cerrar sesion</a>
                    </li>
              {% else %}
                    <li>
                      <a href="{% url 'login' %}">Cerrar sesion</a>
                    </li>
              {% endif %}

                </ul>
                <span class="navbar-text">
                  <a href="" target="blank"><img class="redes" src="" alt=""></a>
                </span>
                <span class="navbar-text">
                  <a href="" target="blank"><img class="redes" src=""  alt=""></a>
                </span>
            </div>
          </nav>
   
    <div id="contenidoPrincipal">
        {% block contenido %}

        {%endblock%}
=======
              {% if user.is_authenticated %}
              <li>
                    <a href="{% url 'listado_usuarios' %}">Usuarios</a>
              </li>
              <li>
                    <a href="{% url 'nuevo_usuarios' %}">Nuevo Usuario</a>
              </li>
              <li>
                    <a href="#">Usuario: {{ user.username}}</a>
              </li>
              <li>
                <a href="{% url 'logout' %}">Cerrar sesion</a>
              </li>
              {% else %}
              <li>
                <a href="{% url 'login' %}">Cerrar sesion</a>
              </li>
              {% endif %}
            </ul>
       </div>
      </nav>
      
   
      <!-- Imagen Header -->
      <div class="img-header">
       <div class="welcome">
         <h1>Fashion Style</h1>
         <hr>
         <p>Peluqueria</p>
         
       </div>       
      </div>
      
      <div class="skew-abajo"></div>
  
      </header>
  
   <main>
  
      {% block contenido %}

      {% endblock%}
  
   </main> 
  
  
  
   <!-- Footer -->
   <footer class="footer">

      
     
  
     <div class="footer-text">
       <p>&copy; Los Maquinas 2020 | Con derechos naaa.</p>
     </div>
    
    </div>
>>>>>>> 1f006767c13ac62c253e1527bd78e9a64b84cdea
    </div>
  </div>
    
  <!-- FOOTER -->
  

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {%block javascript%}

    <script src="https://kit.fontawesome.com/35db202371.js"></script>
    <script src="js/app.js"></script>
    <script src="js/main.js"></script>


    {%endblock%}
    
<<<<<<< HEAD
=======
      <script src="https://kit.fontawesome.com/35db202371.js"></script>
      <script src="js/app.js"></script>
    {% endblock %}
>>>>>>> 1f006767c13ac62c253e1527bd78e9a64b84cdea
  </body>
</html>