<!DOCTYPE html>
<html lang="es">
<head>
    <title>Fahion Style | Inicio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Estilos Css -->
    {% load static %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    {% endblock css %}
    

    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Text:400,500,700&display=swap" rel="stylesheet">

</head>
<body>
    
    <footer class="footer">

        
        <div class="skew-arriba"></div>
    <div class="deg-footer"></div>
    
    <div class="ejeZfooter">
    <div class="footer-content">
        <div class="footer-title">
        <h2>Formulario de Contacto</h2>
        <hr>
        </div>
    
        <div class="formulario-content">
        <form id="formulario">
            <label for="user">Nombre:</label>
            <input type="text" id="user" name="user" placeholder="Ingresa tu Nombre">

            <label for="user">Apellido:</label>
            <input type="text" id="user" name="user" placeholder="Ingresa tu Apellido">
        
            <label for="email">Correo Electronico:</label>
            <input type="email" id="email" name="email" placeholder="Ingresa tu Correo Electronico">
        
            <label for="message">Escribe tu mensaje</label>
            <textarea name="menssage" id="message"></textarea>
            
            <div class="send"><button><input type="reset" value="Limpiar"></button></div>
            <div class="send"><button><input type="submit" value="Enviar"></button></div>

            
            
        
            <div class="mensaje-form">
            <p>Escribenos un mensaje, con gusto tendras una respuesta de parte de nosotros en muy poco tiempo.</p>
            </div>
        </form>
        </div>
    
        
    
    </div>
    </div>
    </footer>
    {% block javascrip %}
    
    <script src="https://kit.fontawesome.com/35db202371.js"></script>
    <script src="js/app.js"></script>
    {% endblock %}
</body>
</html>

