{% extends 'core/base.html'%}

{% load static %}
{% block css %}
	<link rel="stylesheet" href="{% static 'core/css/style.css' %}">
{% endblock %}


{% block contenido %}
	<body>
		
<<<<<<< HEAD
		
=======
		<header id="header">
			<nav class="menu">
			 <div class="logo-box">
			   <h1><a href="{% static 'home.html' %}">Fashion Style</a></h1>
			   <span class="btn-menu"><i class="fas fa-bars"></i></span>
			 </div>
			 
			 <div class="list-container">
				<ul class="lists">
					<li><a href="{% static 'home.html' %}" class="active">Inicio</a></li>
					<li><a href="{% url 'login' %}">Inicia Sesión</a></li>
				</ul>
			 </div>
			</nav>
		</header>
>>>>>>> 1f006767c13ac62c253e1527bd78e9a64b84cdea

		<br>
		<br>
		<br>

		
		
		<div class="galeria">
			<div class="foto">
				<div class="contenedor-modal">
					<img src="https://cdn.discordapp.com/attachments/724783413202255924/756013182027432056/Screenshot_2.png" alt="" />
					<div class="overlay">
						<h2>Ondulado $10.000</h2>
					</div>
				</div>
			</div>

			<div class="foto">
				<div class="contenedor-modal">
					<img src="https://cdn.discordapp.com/attachments/724783413202255924/756013208111939664/Screenshot_3.png" alt="" />
					<div class="overlay">
						<h2>Ondulado $10.000</h2>
					</div>
				</div>
			</div>
			<div class="foto">
				<div class="contenedor-modal">
					<img src="https://cdn.discordapp.com/attachments/724783413202255924/756013224238907422/Screenshot_4.png" alt="" />
					<div class="overlay">
						<h2>Corte + alisado $10.000</h2>
					</div>
				</div>
			</div>
			<div class="foto">
				<div class="contenedor-modal">
					<img src="https://cdn.discordapp.com/attachments/724783413202255924/756013258598776873/Screenshot_6.png" alt="" />
					<div class="overlay">
						<h2>Ondulado $10.000</h2>
					</div>
				</div>
			</div>
			<div class="foto">
				<div class="contenedor-modal">
					<img src="https://cdn.discordapp.com/attachments/724783413202255924/756013270099427460/Screenshot_7.png" alt="" />
					<div class="overlay">
						<h2>Alisado $8.000</h2>
					</div>
				</div>
			</div>
			<div class="foto">
				<div class="contenedor-modal">
					<img src="https://cdn.discordapp.com/attachments/724783413202255924/756013285890850887/Screenshot_8.png" alt="" />
					<div class="overlay">
						<h2>Ondulado + teñido $20.000</h2>
					</div>
				</div>
			</div>
			<div class="foto">
				<div class="contenedor-modal">
					<img src="https://cdn.discordapp.com/attachments/724783413202255924/756013300910784512/Screenshot_9.png" alt="" />
					<div class="overlay">
						<h2>Ondulado $10.000</h2>
					</div>
				</div>
			</div>
			<div class="foto">
				<div class="contenedor-modal">
					<img src="https://cdn.discordapp.com/attachments/724783413202255924/756013313489371166/Screenshot_10.png" alt="" />
					<div class="overlay">
						<h2>Ondulado $10.000</h2>
					</div>
				</div>
			</div>
			<div class="foto">
				<div class="contenedor-modal">
					<img src="https://cdn.discordapp.com/attachments/724783413202255924/756013338789412884/Screenshot_12.png" alt="" />
					<div class="overlay">
						<h2>Alisado $8.000</h2>
					</div>
				</div>
			</div>
			<div class="foto">
				<div class="contenedor-modal">
					<img src="https://cdn.discordapp.com/attachments/724783413202255924/756013346939207690/Screenshot_13.png" alt="" />
					<div class="overlay">
						<h2>Ondulado + teñido $20.000</h2>
					</div>
				</div>
			</div>
			<div class="foto">
				<div class="contenedor-modal">
					<img src="https://cdn.discordapp.com/attachments/724783413202255924/756013360020979732/Screenshot_14.png" alt="" />
					<div class="overlay">
						<h2>Ondulado $10.000</h2>
					</div>
				</div>
			</div>
			<div class="foto">
				<div class="contenedor-modal">
					<img src="https://cdn.discordapp.com/attachments/724783413202255924/756013374235476098/Screenshot_15.png" alt="" />
					<div class="overlay">
						<h2>Ondulado</h2>
					</div>
				</div>
			</div>
		</div>
		
	</body>
{% endblock  %}

{% block javascrip %}

<script src="js/main.js"></script>
<<<<<<< HEAD
{% endblock %}
=======
{% endblock %}
>>>>>>> 1f006767c13ac62c253e1527bd78e9a64b84cdea
