<<<<<<< HEAD
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title></title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
    {% load static %}
    {% block css %}
    {% endblock css %}

	<link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
	

</head> 
<body>


<h2>Listado Usuarios</h2>

<table>
    <tr>
        <th>Nombre</th>
        <th>Sexo</th>
        <th>Correo Electronico</th>
        <th>Contraseña</th>
        <th>Rut</th>
        <th>Opciones</th>
    </tr>
    {% for p in Usuario %}

    <tr>
        <td>{{p.Nombre}}</td>
        <td>{{p.Sexo}}</td>
        <td>{{p.Correo_Electronico}}</td>
        <td>{{p.Contraseña}}</td>
        <td>{{p.Rut}}</td>
        <td>
            <a href="{% url 'modificar_usuarios' p.id %}">Modificar</a>
            <a href="#" onclick="confirmarEliminacion(p.id)">Eliminar</a>
        
        </td>


    </tr>

    {% endfor %}


</table>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script> 
    <script src="{% static 'core/js/confirmacion.js' %}"></script>

</body>
</html>
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title></title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
    {% load static %}
    {% block css %}
    {% endblock css %}

	<link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
	

</head> 
<body>


<h2>Listado Usuarios</h2>

<table>
    <tr>
        <th>Nombre</th>
        <th>Sexo</th>
        <th>Correo Electronico</th>
        <th>Contraseña</th>
        <th>Rut</th>
        <th>Opciones</th>
    </tr>
    {% for p in Usuario %}

    <tr>
        <td>{{p.Nombre}}</td>
        <td>{{p.Sexo}}</td>
        <td>{{p.Correo_Electronico}}</td>
        <td>{{p.Contraseña}}</td>
        <td>{{p.Rut}}</td>
        <td>
            <a href="{% url 'modificar_usuarios' p.id %}">Modificar</a>
            <a href="#" onclick="confirmarEliminacion(p.id)">Eliminar</a>
        
        </td>


    </tr>

    {% endfor %}


</table>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script> 
    <script src="{% static 'core/js/confirmacion.js' %}"></script>

</body>
</html>
=======
{% extends 'core/base.html'%}

{% load static %}

{% block contenido %}
<main>
  
    <!-- Acerca de nosotros -->
    <section class="acerca-de">
    <div class="info-container">
    
      <h1>Acerca de Nosotros</h1>
      <p>Una peluquería o barbería es un local donde se ofrecen varios servicios estéticos, principalmente el corte de pelo, pero también suelen realizarse otros como afeitado, depilado, manicura, pedicura, etc. Cuando se trata de muchos servicios diferentes suele llamarse salón de belleza.</p>
      
      <div class="about-gallery">
        <img src="https://static.americadigital.com/wp-content/uploads/2020/04/mascarilla-facial-1.jpg" alt="">
        <img src="https://cdn.discordapp.com/attachments/724783413202255924/758129257750200390/unknown.png" alt="">
        <img src="https://cdn.discordapp.com/attachments/724783413202255924/756010562646704158/unknown.png" alt="">
      </div>


    </div>
    </section>

   <!-- Nuestros proyectos -->
   <section class="our-projects">
      <div class="skew-arriba"></div>
   <div class="deg-background"></div>
   
   <div class="ejeZproject">
      <div class="container-project">
        <div class="project-title">
          <h2>Galeria</h2>
          <hr>
        </div>
          <div class="project-img">
            <img src="https://cdn.discordapp.com/attachments/724783413202255924/756013208111939664/Screenshot_3.png" alt="">
            <img src="https://cdn.discordapp.com/attachments/724783413202255924/756013244430418022/Screenshot_5.png" alt="">
            <img src="https://cdn.discordapp.com/attachments/724783413202255924/756013270099427460/Screenshot_7.png" alt="">

            
            
         </div>
         <a href="galeria"><img src="https://lh3.googleusercontent.com/PR4YNyUGM1GVHd8AF0_QzyPQWUntGWlixfaviDsXVinwoGrwzpaynpNiV6OgQwE8vCM=s180" alt=""></a>
         
   <div class="skew-abajo"></div>
   </section>

   <!-- Testimonios -->
   <section class="testimonios">
    <div class="testimonios-title">
     <h2>Reseñas</h2>
     <hr>
    </div>

     <div class="box-testimonio">
      <div class="card-testimonio">
        <div class="card-img"><img src="https://mujermexico.com/wp-content/uploads/2020/03/1-77.jpg" alt=""></div>
        <div class="testimonio-text">
        <h4>Marcela Matus</h4>
        <p>"Me encanta voy confiada trabajan EXCELENTE CON CARIÑO POR LO QUE HACEN Y LA CLIENTA Y USAN BUENOS PRODUCTOS..ADEMÁS EN UNOS DIAS MÁS TENDRÁN DEPILACION Y UÑAS tido lo que a nosotras Nos gusta💪🤩❤"</p>
        </div>
      </div>

      <div class="card-testimonio">
          <div class="card-img"><img src="https://www.quepasa.com.ve/site/wp-content/uploads/2019/03/mujer-1_d7b61f7d_850x566.jpeg" alt=""></div>
          <div class="testimonio-text">
          <h4>Judith Vergara</h4>
          <p>"Excelente atención, buenos productos. Recomiendo conocer esta peluquería, no te arrepentirás."</p>
          </div>
        </div>

        <div class="card-testimonio">
            <div class="card-img"><img src="https://img.aeroexpo.online/images_ar/projects/images-g/elevar-perfil-mujeres-ingenieria-6393-14652745.jpg" alt=""></div>
            <div class="testimonio-text">
            <h4>nitsi silva</h4>
            <p>"No la cambiaría por nada del mundo 😍"</p>
            </div>
          </div>

          <div class="card-testimonio">
              <div class="card-img"><img src="https://www.milenio.com/uploads/media/2020/08/05/yalitza-aparicio-mujeres-admira-video_74_0_1088_677.jpg" alt=""></div>
              <div class="testimonio-text">
              <h4>Maria Sanhueza</h4>
              <p>"Una experiencia genial, agradable, lugar super seguro y la atención super buena"</p>
              </div>
            </div>

     </div>

   </section>

 </main>

 
{% endblock %}

  
>>>>>>> 1f006767c13ac62c253e1527bd78e9a64b84cdea
