<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title></title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
    {% load static %}
    {% block css %}
    {% endblock css %}

	<link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
	

</head> 
<body>


<h2>Listado Usuarios</h2>

<table>
    <tr>
        <th>Nombre</th>
        <th>Sexo</th>
        <th>Correo Electronico</th>
        <th>Contraseña</th>
        <th>Rut</th>
        <th>Opciones</th>
    </tr>
    {% for p in Usuario %}

    <tr>
        <td>{{p.Nombre}}</td>
        <td>{{p.Sexo}}</td>
        <td>{{p.Correo_Electronico}}</td>
        <td>{{p.Contraseña}}</td>
        <td>{{p.Rut}}</td>
        <td>
            <a href="{% url 'modificar_usuarios' p.id %}">Modificar</a>
            <a href="#" onclick="confirmarEliminacion(p.id)">Eliminar</a>
        
        </td>


    </tr>

    {% endfor %}


</table>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script> 
    <script src="{% static 'core/js/confirmacion.js' %}"></script>

</body>
</html>
