<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title></title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
    {% load static %}
    {% block css %}
    {% endblock css %}
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
	

</head> 
<body>

    <form class="formulario">
    
        <h1>Registrate</h1>
        <div class="contenedor">

            <div class="registrar-contenedor">
                <form action="" method="POST">
                    
                    {% csrf_token %}
                        <table>
                            {{ form.as_table}}
                            
                        </table>
                        
                    <p>Rut solo con guion sin puntos</p>
                    <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
                    <p>¿Ya tienes una cuenta?<a class="link" href="{% url 'login' %}">Iniciar Sesion</a></p>          
                    <input type="reset" value="Limpiar">
                    <input type="submit" value="Guardar">
                </form>
            </div>
            
         
         
        </div>
        {{ mensaje }}
    </form>
   


</body>
</html>